In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import spacy
import re
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from googlesearch import search
import csv

In [2]:
df = pd.read_csv('/Users/jacobnyamu/Desktop/Spring 2023/Advanced Programming - Python/NTerprisers /Tabrez/output.csv', encoding='latin-1')

In [3]:
df.head()

                Company Name Verified
0     10 Sachuest Drive, LLC       No
1             1120 Park, LLC       No
2    115 Williams Street LLC       No
3            117 Realty, LLC       No
4  11TH MUSE PUBLISHERS, LLC       No

In [17]:
df2 = df.truncate(before=0, after=21)

In [5]:
df2.head(22)

                 Company Name Verified
0      10 Sachuest Drive, LLC       No
1              1120 Park, LLC       No
2     115 Williams Street LLC       No
3             117 Realty, LLC       No
4   11TH MUSE PUBLISHERS, LLC       No
5        12 Bluff Avenue, LLC       No
6      121 Avondale Road, LLC       No
7    151 Boston Neck Road LLC       No
8       2 Ocean Lawn Lane LLC       No
9            219 Linwood, LLC      Yes
10       220 Willett Road LLC       No
11                  26.2+ LLC      Yes
12            2A Apparel Inc.       No
13        32 John Street, LLC       No
14             33 Gaspee, LLC       No
15                   3305 LLC       No
16         332 Canonchet, LLC       No
17                  3611, LLC       No
18                39 TLS, LLC       No
19     4 BALL INVESTMENTS LLC       No
20       40 PINE MARITIME LLC       No
21           401 Cleaning LLC       No

In [7]:
# Iterate over each row in the data frame, perform a Google search using the row data, and print the URL of the top result
    
table = []
for index, row in df2.iterrows():
    query = row['Company Name']  
    result = next(search(query, num_results=1, sleep_interval=0.5), None)
    if result:
        print(f"{index}: '{query}' found at '{result}'")
        table.append([query, result])

0: '10 Sachuest Drive, LLC' found at 'https://www.bizapedia.com/ri/10-sachuest-drive-llc.html'
1: '1120 Park, LLC' found at 'https://www.coldwellbankerhomes.com/mi/grand-haven/1120-park-ave/pid_51230788/'
2: '115 Williams Street LLC' found at 'https://www.zillow.com/homedetails/115-Williams-St-Providence-RI-02906/65911490_zpid/'
3: '117 Realty, LLC' found at 'https://www.realtor.com/realestateagency/63b44c5ffc26d4bfb9b7a121'
4: '11TH MUSE PUBLISHERS, LLC' found at 'https://exalexander.com/11th-muse-publishers/'
5: '12 Bluff Avenue, LLC' found at 'https://opencorporates.com/companies/us_ri/001716681'
6: '121 Avondale Road, LLC' found at 'https://opencorporates.com/companies/us_ri/001733707'
7: '151 Boston Neck Road LLC' found at 'https://opencorporates.com/companies/us_ri/001699344'
8: '2 Ocean Lawn Lane LLC' found at 'https://www.redfin.com/RI/Newport/2-Ocean-Lawn-Ln-02840/home/52256930'
9: '219 Linwood, LLC' found at 'https://www.zillow.com/homedetails/219-Linwood-Ave-Providence-RI-02907/65965903_zpid/'
10: '220 Willett Road LLC' found at 'https://opencorporates.com/companies/us_ri/001733018'
11: '26.2+ LLC' found at 'https://gendekai.com/products/run-26-2-cap'
12: '2A Apparel Inc.' found at 'https://www.official2a.com/'
13: '32 John Street, LLC' found at 'https://opencorporates.com/companies/us_ma/522448105'
14: '33 Gaspee, LLC' found at 'https://www.xome.com/realestate/33-gaspee-rd-narragansett-ri-02882-150435114'
15: '3305 LLC' found at 'http://search.sunbiz.org/Inquiry/CorporationSearch/SearchResults?inquiryType=EntityName&searchTerm=3305%20HOLDING%20CO%20LLC'
16: '332 Canonchet, LLC' found at 'https://opencorporates.com/companies/us_ri/001709386'
17: '3611, LLC' found at 'https://opencorporates.com/companies/us_ri/001674514'
18: '39 TLS, LLC' found at 'https://opencorporates.com/companies/us_ri/001714478'
19: '4 BALL INVESTMENTS LLC' found at 'https://ybwfi.heartsofthesacredspirit.org/post/4-ball-investments-llc-johnston-ri/73944307'
20: '40 PINE MARITIME LLC' found at 'https://opencorporates.com/companies/us_ny/5321518'
21: '401 Cleaning LLC' found at 'https://www.care.com/b/l/kaylanni-s-cleaning/pawtucket-ri'

In [8]:
urls = pd.DataFrame(table)

In [9]:
urls.head(20)

,0,1
0,"10 Sachuest Drive, LLC",https://www.bizapedia.com/ri/10-sachuest-drive...
1,"1120 Park, LLC",https://www.coldwellbankerhomes.com/mi/grand-h...
2,115 Williams Street LLC,https://www.zillow.com/homedetails/115-William...
3,"117 Realty, LLC",https://www.realtor.com/realestateagency/63b44...
4,"11TH MUSE PUBLISHERS, LLC",https://exalexander.com/11th-muse-publishers/
5,"12 Bluff Avenue, LLC",https://opencorporates.com/companies/us_ri/001...
6,"121 Avondale Road, LLC",https://opencorporates.com/companies/us_ri/001...
7,151 Boston Neck Road LLC,https://opencorporates.com/companies/us_ri/001...
8,2 Ocean Lawn Lane LLC,https://www.redfin.com/RI/Newport/2-Ocean-Lawn...
9,"219 Linwood, LLC",https://www.zillow.com/homedetails/219-Linwood...
10,220 Willett Road LLC,https://opencorporates.com/companies/us_ri/001...
11,26.2+ LLC,https://gendekai.com/products/run-26-2-cap
12,2A Apparel Inc.,https://www.official2a.com/
13,"32 John Street, LLC",https://opencorporates.com/companies/us_ma/522...
14,"33 Gaspee, LLC",https://www.xome.com/realestate/33-gaspee-rd-n...
15,3305 LLC,http://search.sunbiz.org/Inquiry/CorporationSe...
16,"332 Canonchet, LLC",https://opencorporates.com/companies/us_ri/001...
17,"3611, LLC",https://opencorporates.com/companies/us_ri/001...
18,"39 TLS, LLC",https://opencorporates.com/companies/us_ri/001...
19,4 BALL INVESTMENTS LLC,https://ybwfi.heartsofthesacredspirit.org/post...

In [10]:
urls.set_axis(['Business', 'URL'], axis='columns', inplace=True)

/var/folders/th/00nvfm0d5qg4prl9hls6qx340000gn/T/ipykernel_20443/4196423623.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  urls.set_axis(['Business', 'URL'], axis='columns', inplace=True)

In [11]:
urls.head()

,Business,URL
0,"10 Sachuest Drive, LLC",https://www.bizapedia.com/ri/10-sachuest-drive...
1,"1120 Park, LLC",https://www.coldwellbankerhomes.com/mi/grand-h...
2,115 Williams Street LLC,https://www.zillow.com/homedetails/115-William...
3,"117 Realty, LLC",https://www.realtor.com/realestateagency/63b44...
4,"11TH MUSE PUBLISHERS, LLC",https://exalexander.com/11th-muse-publishers/

In [12]:
# Defining keywords related to manufacturing
keywords = [
    "manufacturing", "production", "factory", "industry", "industrial", "machinery",
    "assembly", "fabrication", "plant", "workshop", "process", "machining",
    "milling", "turning", "forging", "casting", "molding", "extrusion",
    "welding", "cutting", "grinding", "lathing", "drilling", "pressing",
    "forming", "stamping", "additive", "3D printing", "injection molding",
    "blow molding", "rotational molding", "thermoforming", "vacuum forming",
    "die casting", "sand casting", "investment casting", "lost-wax casting",
    "cold rolling", "hot rolling", "slitting", "annealing", "heat treatment",
    "sheet metal", "metallurgy", "electroplating", "galvanizing", "coating",
    "powder coating", "anodizing", "painting", "finishing", "quality control",
    "CNC", "computer numerical control", "tooling", "fixtures", "jigs",
    "material handling", "automation", "robotics", "conveyor", "packaging",
    "lean manufacturing", "just-in-time", "six sigma", "continuous improvement",
    "mass production", "batch production", "job production", "assembling",
    "subassembly", "raw material", "work in progress", "finished goods",
    "inventory", "supply chain", "logistics", "procurement", "sourcing",
    "OEM", "original equipment manufacturer", "contract manufacturing",
    "outsourcing", "offshoring", "ISO 9001", "ISO 14001", "quality management",
    "environmental management", "safety", "compliance", "regulation"
]

In [20]:
# Load the spaCy model
nlp = spacy.load("en_core_web_sm")

# Clean the text by removing unnecessary characters
def clean_text(text):
    text = re.sub(r'\s+', ' ', text)
    return text.strip()

# Scrape the website and extract the text
def scrape_website(url):
    try:
        response = requests.get(url)
        response.raise_for_status()

        soup = BeautifulSoup(response.text, "html.parser")
        texts = ' '.join([clean_text(p.text) for p in soup.find_all('p')])

        return texts
    except requests.exceptions.RequestException as e:
        print(f"Error: {e}")
        return ""

# Check if the website is related to manufacturing
def is_manufacturing_website(text, keywords):
    doc = nlp(text.lower())

    for token in doc:
        if token.text in keywords:
            return True

    return False

# Creating an empty list to store the results
results = [] 
final_results = []
        
for website in urls.URL: 
    text = scrape_website(website)
    if is_manufacturing_website(text, keywords):
        results = {"Business": urls['Business'], "Manufacturing": True}
    else:
        results = {"Business": urls['Business'], "Manufacturing": False}   
    final_results.append(results)
    
urls_verified = pd.DataFrame(final_results)

Error: 403 Client Error: Forbidden for url: https://www.bizapedia.com/ri/10-sachuest-drive-llc.html
Error: 400 Client Error: Bad Request for url: https://exalexander.com/11th-muse-publishers/
Error: 403 Client Error: Forbidden for url: https://www.redfin.com/RI/Newport/2-Ocean-Lawn-Ln-02840/home/52256930

In [21]:
urls_verified.head(80)

                                             Business  Manufacturing
0   0        10 Sachuest Drive, LLC
1             ...          False
1   0        10 Sachuest Drive, LLC
1             ...          False
2   0        10 Sachuest Drive, LLC
1             ...          False
3   0        10 Sachuest Drive, LLC
1             ...          False
4   0        10 Sachuest Drive, LLC
1             ...          False
5   0        10 Sachuest Drive, LLC
1             ...          False
6   0        10 Sachuest Drive, LLC
1             ...          False
7   0        10 Sachuest Drive, LLC
1             ...          False
8   0        10 Sachuest Drive, LLC
1             ...          False
9   0        10 Sachuest Drive, LLC
1             ...          False
10  0        10 Sachuest Drive, LLC
1             ...          False
11  0        10 Sachuest Drive, LLC
1             ...          False
12  0        10 Sachuest Drive, LLC
1             ...          False
13  0        10 Sachuest Drive, LLC
1             ...          False
14  0        10 Sachuest Drive, LLC
1             ...          False
15  0        10 Sachuest Drive, LLC
1             ...          False
16  0        10 Sachuest Drive, LLC
1             ...          False
17  0        10 Sachuest Drive, LLC
1             ...          False
18  0        10 Sachuest Drive, LLC
1             ...          False
19  0        10 Sachuest Drive, LLC
1             ...          False
20  0        10 Sachuest Drive, LLC
1             ...          False
21  0        10 Sachuest Drive, LLC
1             ...          False

In [22]:
final_output = pd.concat([df2, urls_verified], axis=1)
final_output.head()

,Company Name,Verified,Business,Manufacturing
0,"10 Sachuest Drive, LLC",No,"0 10 Sachuest Drive, LLC 1 ...",False
1,"1120 Park, LLC",No,"0 10 Sachuest Drive, LLC 1 ...",False
2,115 Williams Street LLC,No,"0 10 Sachuest Drive, LLC 1 ...",False
3,"117 Realty, LLC",No,"0 10 Sachuest Drive, LLC 1 ...",False
4,"11TH MUSE PUBLISHERS, LLC",No,"0 10 Sachuest Drive, LLC 1 ...",False

In [24]:
final_output.pop('Verified')
final_output.head()

,Company Name,Business,Manufacturing
0,"10 Sachuest Drive, LLC","0 10 Sachuest Drive, LLC 1 ...",False
1,"1120 Park, LLC","0 10 Sachuest Drive, LLC 1 ...",False
2,115 Williams Street LLC,"0 10 Sachuest Drive, LLC 1 ...",False
3,"117 Realty, LLC","0 10 Sachuest Drive, LLC 1 ...",False
4,"11TH MUSE PUBLISHERS, LLC","0 10 Sachuest Drive, LLC 1 ...",False

In [25]:
final_output.pop('Business')
final_output.head()

                Company Name  Manufacturing
0     10 Sachuest Drive, LLC          False
1             1120 Park, LLC          False
2    115 Williams Street LLC          False
3            117 Realty, LLC          False
4  11TH MUSE PUBLISHERS, LLC          False

In [26]:
final_output.to_csv('Final_output_RhodeIsland.csv')

In [ ]:
# Write to CSV file
with open('Keyword_Analysis_Masss_Final.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Company Name', 'Manufacturing companies'])
    writer.writerows(rows)